setuptools==65.5.0
swig
git+https://github.com/AI4Finance-Foundation/FinRL.git
gym
matplotlib
numpy
pandas
pandas_datareader
scikit_learn
scipy
seaborn
stable_baselines3
tensorflow
torch==2.0.0
torchrl