finrl==0.3.6
gym==0.25.2
gymnasium==0.29.0
matplotlib==3.7.1
numpy==1.22.4
pandas==1.5.3
pandas_datareader==0.10.0
ray==2.6.1
scikit_learn==1.2.2
scipy==1.11.1
seaborn==0.12.2
stable_baselines3==2.0.0
tensorflow==2.12.0
torch==2.0.1+cu118
torchrl==0.1.1
